---

- name: install dependencies
  apt:
    pkg:
    - nginx
    - mysql-common
    - php
    - php-tidy
    - php-gd
    - php-xml
    - php-mbstring
    - php-curl 
    state: present

- name: clone bookstack repository
  git:
      repo: https://github.com/BookStackApp/BookStack.git 
      dest: /srv/wiki
      version: release

- name: run setup
  shell: composer install --no-dev
  args:
    chdir: /srv/wiki

- name: create mysql db
  shell: mysql -f -e 'create database bookstack character set utf8; create user bookstack; grant all on bookstack.* to "bookstack"@"localhost" identified by "{{ mysql_bookstack_pass }}"; flush privileges;'; touch /opt/ansible/mysql_bookstack_configured
  args:
    creates: /opt/ansible/mysql_bookstack_configured

- name: run config template
  template:
    src: env
    dest: /srv/wiki/.env

- name: migrate database
  shell: php artisan migrate --no-interaction --force
  args:
    chdir: /srv/wiki

- name: clean bookstack cache
  shell: php artisan cache:clear
  args:
    chdir: /srv/wiki

- name: clean bookstack view
  shell: php artisan view:clear
  args:
    chdir: /srv/wiki

- name: install nginx vhost for wiki
  copy:
    src: etc/nginx.conf
    dest: /etc/nginx/sites-enabled/wiki

- name: restart nginx service
  service:
    name: nginx
    enabled: yes
    state: restarted

# vim: set et st=2 sts=2 sw=2 ts=2:
